<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/js/home/login.js"></script> <!-- 상위폴더 app.js 파일 안에 app.use(express.static(`${__dirname}/src/public`)); 연결해주는 미들웨어가 있어야 이동가능 -->
    
</head>

<body>
    <input type="text" placeholder="아이디"> <br>
    <input type="text" placeholder="비밀번호"> <br>
    <button>로그인</button>
</body>

</html>